@import "../../variables.scss";

.trainings-wrapper {
  padding: 0 25px;
}

.trainings-container {
  position: relative;
  transition: 0.3s;

  .btn-left {
    position: absolute;
    top: 30%;
    left: -2rem;
  }

  .btn-right {
    position: absolute;
    top: 30%;
    right: -2rem;
  }
}

.trainings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 30px;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.slider-button {
  background-color: #ffffff37;
  border: none;
  height: 200px;
  width: 33px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  i {
    cursor: pointer;
    font-size: 32px;
    color: $main-dark;

    &:hover {
      color: $select;
    }
  }

  &:hover {
    i {
      cursor: pointer;
      font-size: 32px;
      color: $main-dark;

      &:hover {
        color: $select;
      }
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.no-trainings {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  i {
    font-size: 40px;
  }
}

.loader-trainings {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
