@import "../../variables.scss";

.item-container {
  min-width: 280px;
  height: min-content;
  padding: 16px;
  background: $form-dark;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  margin: 20px 5px;

  h2 {
    margin-top: 15px;
    font-size: 20px;
  }

  &:hover {
    scale: 1.04;
  }

  img {
    width: 60%;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
  }

  .trining-description {
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;

    div {
      &:nth-child(6) {
        margin-bottom: 40px;
      }
    }
  }

  .item-description-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #868e96;

    div {
      display: flex;
      gap: 6px;
    }

    .trainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .description-chevron {
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
    bottom: 0px;
    left: 45%;

    &:hover {
      color: $select;
    }
  }

  .delete-training {
    cursor: pointer;
    font-size: 25px;

    &:hover {
      color: #e03131;
      transition: 0.3s;
    }
  }

  .update-training {
    cursor: pointer;
    font-size: 25px;

    &:hover {
      color: $select;
      transition: 0.3s;
    }
  }
}

.description {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $main-dark;
  max-width: 248px;
  min-width: 248px;
  left: 0px;
  bottom: 40px;
  display: flex;
  inline-size: 150px;
  inline-size: min-content;
  overflow-wrap: break-word;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;

  p:first-child {
    padding: 30px;
  }
}

.show-desc {
  height: 200px;
  animation-name: show-description;
  animation-duration: 0.3s;
}

.hide-desc {
  height: 0px;
  animation-name: hide-description;
  animation-duration: 0.3s;
}

.rotate-chevron-up {
  transform: rotate(180deg);
  transition: 0.3s;
}

.rotate-chevron-down {
  transform: rotate(0deg);
  transition: 0.3s;
}

@keyframes show-description {
  from {
    height: 0px;
    overflow: hidden;
  }
  to {
    height: 200px;
  }
}

@keyframes hide-description {
  from {
    height: 200px;
  }
  to {
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: $main-dark;
  border-radius: 15px;
  margin: 10px 0;
}

.is-user-training {
  display: flex;
  flex-direction: column;
  max-height: max-content;
  max-width: 280px;
}

.select {
  border: solid 3px $select;
}
