@import "../../variables.scss";

.Items-container {
  display: flex;
  height: 85vh;
  padding: 20px 50px;
  overflow: scroll;

  .left-trainings {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    overflow: scroll;
    animation-name: show;
    animation-duration: 0.2s;

    .user-no-trainings {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
      margin-left: 100px;
      gap: 20px;

      i {
        font-size: 40px;
        color: $yellow;
      }
    }
  }

  .left-new-training {
    position: relative;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    animation-name: show;
    animation-duration: 0.3s;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .item-features {
    display: flex;
    justify-content: space-between;
  }

  .delete-training {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      color: #e03131;
      transition: 0.3s;
    }

    p {
      font-size: 20px;
    }
  }

  .update-training {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $select;
      transition: 0.3s;
    }

    p {
      font-size: 20px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding-top: 30px;

    h2 {
      margin: 20px 0;
    }

    .item-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: 400px;
      min-height: 400px;
      gap: 30px;
      width: 90%;
      overflow-wrap: break-word;
      padding: 30px;
      background-color: $main-dark;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);

      &:hover {
        scale: 1;
      }
    }

    .create-training {
      display: flex;
      justify-content: space-between;
      gap: 6px;
      padding: 12px;
      margin: 20px 0px 40px 0px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 10px rgba(144, 143, 143, 0.5);
      }

      cursor: pointer;

      i {
        color: $font-white;
        font-size: 20px;
      }
    }
  }
}

.link-active {
  .navbar-element {
    box-shadow: 0 0 10px rgba(144, 143, 143, 0.5);
  }
}

@keyframes show {
  from {
    width: 0px;
  }
  to {
    width: 70%;
  }
}

.training-item {
  margin-right: 150px;
  z-index: 900;

  &:hover {
    scale: unset;
  }
}
