* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(#141e30, #243b55);
  color: #ced4da;
}
