@import "../../variables.scss";

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  justify-content: space-between;

  .navbar-left {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 40px;
      color: $yellow;
    }

    h2::first-letter {
      font-size: 35px;
    }
  }

  .navbar-right {
    width: 30%;
    display: flex;
    gap: 24px;
    justify-content: right;
    margin-right: 20px;
  }

  .navbar-element {
    display: flex;
    justify-content: right;
    gap: 6px;
    padding: 12px;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 10px rgba(144, 143, 143, 0.5);
    }

    cursor: pointer;

    i {
      color: $yellow;
      font-size: 20px;
    }
  }
}

.link-active {
  .navbar-element {
    box-shadow: 0 0 10px rgba(144, 143, 143, 0.5);
  }
}
